*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --font-color: #333;
    --bg-color: #fff;
}
body{
    background: #f3f5ff;
}

h1{
    background: var(--bg-color);
    text-align: center;
    font-size: 2rem;
    padding-block: 5px;
    color: var(--font-color);
}

.con{
    width: 80%;
    margin-inline: auto;
    margin-top: 50px;
    padding: 30px;
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #11111122;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

p{
    padding-bottom: 5px;
}

p:nth-child(1){
    font-weight: bold;
}

.img-con{
    height: 200px;
    width: 200px;
}

img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

